SITE_URL=https://successbycs.com
EARLY_ACCESS_TO_EMAIL=hello@successbycs.com
SMTP_FROM_EMAIL=hello@successbycs.com
SMTP_HOST=smtp.gmail.com
SMTP_PASS=your-gmail-app-password
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=hello@successbycs.com
